* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.landingPage {
    width: 90%;
    margin-left: 5%;
    margin-top: 50px;
    background-color: rgb(239, 238, 242);
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(1, 1, 50);
}

.logo {
    width: 120px;
    height: auto;
    margin-left: 50px;
}

.right {
    margin-right: 50px;
}

li {
    display: inline-block;
    margin-right: 10px;
}

.icon {
    font-size: 25px;
    cursor: pointer;
}

.nav-bottom {
    margin-left: 30px;
}

.nav-bottom li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: rgb(3, 3, 108);
    cursor: pointer;
}

h2 {
    text-align: center;
    color:rgb(243, 114, 45);
    margin-bottom: 50px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);    
}

.img {
    width: 100px;
    height: auto;
    display: block;
    margin: 20px auto;
}

.items_div {
    padding: 10px;
    width: 90%;
    margin-left: 5%;
    text-align: center;
    margin-top: 20px;
    border: 1px solid rgb(234, 231, 231);
    background-color: white;
}

.items_div span {
    margin-top: 15px;
    color:rgb(1, 1, 50);
    font-size: 18px;
    font-weight: bold;
}

.items_div p {
    margin-top: 5px;
    color: rgb(3, 3, 108);
    font-size: 12px;
}

.items_div h3 {
    margin-top: 10px;
    color: rgb(243, 114, 45);
}

.add_button {
    width: 130px;
    margin: 15px auto;
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
}